<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life4Cut</title>
    <style>
        /* [수정] 키오스크용 스크롤바 숨김 처리 */
        ::-webkit-scrollbar {
            display: none;
        }
        
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden; /* 스크롤 방지 */
            -ms-overflow-style: none; /* IE, Edge */
            scrollbar-width: none; /* Firefox */
            user-select: none; /* 드래그 방지 */
            background-color: #000;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>